
.stock-title {
    font-family: "Montserrat", serif;
    font-weight: 800;
    font-size: 32px !important;
    line-height: 32px;
    letter-spacing: -1.4px;
    margin: 0;

}

.sub-header {
    margin: 4px 0 0;
    display: inline-flex;
}

.stock-name {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #6c757d;
}

.quotes-header-info {
    font-family: "Montserrat", sans-serif;
    margin: auto;
    min-width: 800px;
    color: antiquewhite;
}

.stock-points {
    font-size: 36px;
    letter-spacing: -.5px;
    font-weight: 600;
    margin: 0;
}

.arrow {
    background-color: #fa3a3a;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 3px;
    font-size: 30px;
    color: #fff;
}

label {
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
}

.stock-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.stock-info p {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.date-update {
    margin: 0 0 0 5px;
    font-size: 10px;
    line-height: 17px;
    font-weight: 500;
    color: gray;
}

.date-update i {
    font-size: 17px;
    margin: 0 0 0 9px;
    transform: rotate(180deg);
    color: gray;
}

.line-info {
    margin: 24px 0 0;
    display: flex;
    flex-wrap: wrap;
}

.content {
    margin: 50px;
    position: center;
}

.chart{
    height: auto;
    margin-top: 100px;
}
