
<div style="padding: 20px; background-color: #242424">
    <table class="table table-striped table-dark table-hover" id="companies">
  <thead class="hover-line">
  <tr>
    <th scope="col">Posição</th>
    <th scope="col">Nome</th>
    <th scope="col">Símbolo</th>
    <th scope="col">Região</th>
    <th scope="col">Posição global</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let company of dataSource; index as i" style="width: 1000px" (click)="openCompanyModal(company, companyModal)">
      <td>{{ company.position | number}}°</td>
      <td>{{ company.name }}</td>
      <td>{{ company.symbol }}</td>
      <td>{{ company.region }}</td>
      <td>{{ company.global_position }}</td>
  </tr>
  </tbody>
</table>

</div>

<ng-template #companyModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Cotação da empresa</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="content" role="main" fxLayout="column">
          <div *ngIf="!stockDataLoaded" style="height: 140px">
              <p style="text-align: center">Carregando empresa. Aguarde...</p>
          </div>

    <div id="company-stock" class="quotes-header-info" *ngIf="stockDataLoaded">
        <div>
            <h1 class="stock-title">{{company.name}}</h1>
        </div>
        <div class="sub-header">
            <p class="stock-name">{{company.symbol}}</p>
                <i class="material-icons date-update">error_outline</i>
                <p class="date-update">Atualizado em {{company.stock.latest_trading_day}}</p>
        </div>

        <div class="line-info" fxLayout="row" fxLayoutGap="30px"  >
            <i class="material-icons arrowRed" *ngIf="company.stock.change_percent < 0">arrow_downward</i>
            <i class="material-icons arrowGreen" *ngIf="company.stock.change_percent >= 0">arrow_upward</i>
            <div class="stock-info">
                <span class="stock-points">{{company.stock.price.toLocaleString()}}</span>
                <label>Pontos</label>
            </div>
            <div class="stock-info">
                <p style="font-size: small; margin: auto">({{company.stock.change}})</p>
                <p [ngStyle]="{color: company.stock.change_percent >= 0 ? '#0bb300' : '#fa3a3a'}">
                    {{company.stock.change_percent}}%</p>

                <label>Variação (dia)</label>
            </div>
            <div class="stock-info">
                <p>{{company.stock.low.toLocaleString()}}</p>
                <label>Mín (Dia)</label>
            </div>
            <div class="stock-info">
                <p>{{company.stock.high.toLocaleString()}}</p>
                <label>Máx (Dia)</label>
            </div>
        </div>
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
  </div>
</ng-template>

